{% extends 'core/base.html' %}

{% block title %} contacto {% endblock %}

{% block image-header %} home {% endblock %}

{% block title-header %}
<div>
    <h1 class="display-4 fw-bold">Paula Safronchik</h1>
</div>
<div>
    <h3 class="fs-2">Diseñadora textil y estilista</h3>
</div>
{% endblock %}

{% comment %} {% block content %}

{% load static %}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>pausafronchik@hotmail.com</p>
        <p>***</p>
        <p>instagram.com/la.safronchik</p>
    </div>
</div>

{% endblock %} {% endcomment %}

{% block content %}

<p>pausafronchik@hotmail.com</p>
<p>---</p>
<p>instagram.com/la.safronchik</p>

{% endblock %}