{% extends 'core/base.html' %}

{% block title %} diseñadora textil y estilista {% endblock %}

{% block image-header %} home {% endblock %}

{% block title-header %}
<div>
    <h1 class="display-4 fw-bold">Paula Safronchik</h1>
</div>
<div>
    <h3 class="fs-2">Diseñadora textil y estilista</h3>
</div>
{% endblock %}

{% load static %}

{% block content %}

<p>diseño de estampados -
diseño de bordados hechos a mano y a máquina</p>
<p>presentación y fotografía de catálogos -
sastrería</p>
<p>asesoramiento textil en general</p>

{% endblock %}